{% extends "base.html" %}

{% block content %}
  <h1>Car Detail</h1>
  <p><strong>Model:</strong> {{ car.model }}</p>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer }} ({{ car.manufacturer.country }})</p>
  <h3>Drivers:</h3>
  {% if car.driver.all %}
    <ul>
      {% for driver in car.driver.all %}
        <li>
            <a href="{{ driver.get_absolute_url }}">{{ driver.username }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no drivers for this car.</p>
  {% endif %}
{% endblock %}
