{% extends "base.html" %}

{% block content %}
  <h1>Driver detail</h1>
  <p><strong>Username:</strong> {{ driver.username }}</p>
  <p><strong>First name:</strong> {{ driver.first_name }}</p>
  <p><strong>Last name:</strong> {{ driver.last_name }}</p>
  <p><strong>License:</strong> {{ driver.license_number }}</p>
  <p><strong>Email:</strong> {{ driver.email }}</p>
  <h3>Cars in use:</h3>
  {% if driver.cars.all %}
    <ul>
    {% for car in driver.cars.all %}
      <li>
        <a href="{{ car.get_absolute_url }}">{{ car.model }}</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>This driver is not using any cars.</p>
  {% endif %}
{% endblock %}
